/* Custom */
.page {
  background: #eee;
}

.ui-header {
  zoom: 1.5;
}

.page .article {
  display: block;
  margin: 0.25em;
  box-shadow: 1px 1px 1px #ccc;
  background: #fff;
}

.page .article,
.page .article:active,
.page .article:visited,
.page .article:hover {
  color: black;
  text-decoration: none;
}

.page .article-thumb {
  width: 100%;
}

.page .article-body {
  background: #fff;
}

.page .article-body h3 {
  margin-top: 0;
  padding: 1em;
  padding-bottom: 0;
}

.page .article-body p {
  font-weight: normal;
  text-align: justify;
  padding: 1em;
}

@media all and (max-width: 800px){
  .ui-grid-a >:nth-child(n) {
    width: 100%;
  }

  .ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    width: 100%;
  }
}
